<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/output.css" />
    <link rel="stylesheet" href="/manual.css" />
    <%- include('cdn') %>
  </head>
  <body class="font-sans bg-gray-100">
    <div id="loading" class="fixed inset-0 flex items-center justify-center bg-white bg-opacity-75 hidden">
      <div class="loader"></div>
    </div>
    <%- include('header') %>
    <main class="p-4">
      <%- body %>
    </main>
    <script>
      function showLoading() {
        document.getElementById('loading').classList.remove('hidden');
      }

      function hideLoading() {
        document.getElementById('loading').classList.add('hidden');
      }
    </script>
  </body>
</html>